.App {
    padding: 2rem;
    background: radial-gradient( #f7eda4, #ab8d3f);
    border-radius: 1rem;
    border-color: buttonborder;
    border-style: outset;
    min-width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.btn>button {
    padding: 0.5rem 1rem;
    border-radius: 0.75rem;
    background: linear-gradient(to right,#8e8860, #c1bb93,#8b8662);
}