.App {
  padding: 2rem 0;
  background: radial-gradient(#f7eda4, #ab8d3f);
  border-radius: 1rem;
  border-color: buttonborder;
  border-style: outset;
  min-width: 70%;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: padding 0.5s ease-in, min-width 0.5s ease-in,
    font-size 0.5s ease-in;
}

.btn {
  padding: 0.5rem 0.5rem 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.btn > button {
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #8e8860, #c1bb93, #8b8662);
  font-weight: bolder;
  transition: font-size 0.5s ease-in;
}

@media screen and (min-width: 769px) {
  .App {
    padding: 3rem 2rem;
    min-width: 600px;
    font-size: 1.25rem;
  }

  .btn > button {
    font-size: 1.25rem;
  }
}
