body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    height: 100vh;
    display: flex;
    background-image: url(https://pbs.twimg.com/media/Dq7eC1wU0AIV1Vc?format=jpg&name=4096x4096);
    background-position: center;
    background-size: cover;
}

#root{
    width: 60vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}